<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>管理打包机</title>
</head>
<body>
  <div class="span9 content-box-right"> 
    <table class="table table-striped table-hover"> 
       <thead>
         <tr>
           <th style="width:20%">
             注册打包机
           </th>
           <th>
             <form action="" method="POST" class="no-style form-inline pull-right">
                 <input type="hidden" name="add" id="add">
                 <button type="submit" class="btn btn-small btn-primary pull-right">Creat new token</button>
             </form>
           </th>
         </tr>
       </thead>
       <tbody>
          {% for i in install_machine %}
            <tr>
              <td>
                <i class="icon"></i>
                <span class="size-l code-font">token:   {{i['token']}}</span> 
                <br>
                <i class="icon"></i>
                <em class="ts-small muted">key:   {{i['key']}}</em>
                <em class="ts-small muted"></em>
                <br>
                <i class="icon"></i>
                <span class="size-l code-font">status:   {{i['status']}}</span>
                <em class="ts-small muted"></em>
              </td> 
              <td> 
                <form action="" method="POST" class="no-style">
                  <input type="hidden" name="delete" value={{i['token']}}>
                  <button type="submit" class="btn btn-small btn-danger pull-right">Delete</button> 
                </form>
              </td> 
            </tr> 
          {% endfor %}
       </tbody>
    </table>
  </div>
</body>
</html>


