<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>{{session['username']}}</title>
    <style type="text/css">
     .footlist li{ float:left; list-style:none;margin-left: 0px; margin-right: 10px}
    </style>
</head>
<body>
<div class="container-fluid">
  <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">{{session['username']}} / {{pro_info[0]}}</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
              <li><a href="/{{session['username']}}">首页</a></li>
              <li><a href="{{ url_for('task.task_list', pro_name=pro_info[0])}}">任务列表</a></li>
              <li><a href="{{ url_for('task.add_task', pro_name=pro_info[0]) }}">提交任务</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
  </nav>
</div>
<div class="container body-content">
 <div class="repo-head">
   <div class="navbar navbar-default">
     <div class="collapse navbar-collapse">
       <ul class="nav navbar-nav">
          <a href="#" class="navbar-brand">{{session['username']}} / {{pro_info[0]}}</a>
       </ul>
       {% if session['username']==pro_info[2] %}
       <ul class="nav navbar-nav pull-right">
           <li id="nav-project"><a href="{{ url_for('.modify_project', pro_name=pro_info[0]) }}">修改项目详情</a></li>
           <li id="nav-install-machine"><a href="{{ url_for('.manage_install_machine', pro_name=pro_info[0]) }}">打包机管理</a></li>
       </ul>
       {% endif %}
     </div>
   </div>
 </div>  
  <table class="table table-bordered table-striped table-hover table-condensed" style="font-size:16px;">
    <tr>
      <td width="10%" align="center">项目名 </td>
      <td align="center">{{pro_info[0]}}</td>
    </tr>
    <tr>
      <td width="10%" align="center">说明 </td>
      <td align="center">{{pro_info[1]}}</td>
    </tr>
    <tr>
      <td width="10%" align="center">所有者 </td>
      <td align="center">{{pro_info[2]}}</td>
    </tr>
    <tr>
      <td width="10%" align="center">git地址 </td>
      <td align="center">{{pro_info[3]}}</td>
    </tr>
    <tr>
      <td width="10%" align="center">read-only-token </td>
      <td align="center">{{pro_info[4]}}</td>
    </tr>
    <tr>
      <td width="10%" align="center">创建时间 </td>
      <td align="center">{{pro_info[5]}}</td>
    </tr>
   {% if pro_info|length==8 %}
     <tr>
      <td colspan="2" align="center" bgcolor="gray" style="color:white">近期提交任务</td>
    </tr>
    <tr>
      <td width="10%" align="center">时间 </td>
      <td align="center">{{pro_info[7]['time']}}</td>
    </tr>
    <tr>
      <td width="10%" align="center">说明 </td>
      <td align="center">{{pro_info[7]['illustration']}}</td>
    </tr>
    <tr>
      <td width="10%" align="center">操作者 </td>
      <td align="center">{{pro_info[7]['operator']}}</td>
    </tr>
    <tr>
      <td width="10%" align="center">状态 </td>
      <td align="center">{{pro_info[7]['status']}}</td>
    </tr>
  {% endif %}
 </table>
  <div class="row">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    打包机列表 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {% for i in pro_info[6] %}
        <li><a>token:{{i['token']}}, key:{{i['key']}}, status:{{i['status']}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <HR align=center width=100% color=#987cb9 SIZE=1>
    <div class="footer-link pull-left">
      <ul class="footlist">
        <li style="font-size:12px">
          <a href="/help">Help </a>
        </li>
        <li style="font-size:12px">
          <a href="/us">   Contact us</a>
        </li>
      </ul>
    </div>
    <div class="copyright pull-right">
     <span style="font-size:12px">© 2013-2017 Netease, Inc. All rights reserved.</span>
     <a href="/{{session['username']}}">
       <img src="/static/netease.jpg" width="100">
     </a>
    </div>
  </div>
</div>
</body>
</html>

