<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
     .col-center-block{
         float: none;
         display: block;
         margin-left: auto;
         margin-right: auto;
     }
    </style>

    <title>修改项目配置</title>
</head>
<body>
<div class="navbar navbar-inverse">
  <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">修改项目详情</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
              <li><a href="/{{session['username']}}">首页</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
  </nav>
</div>
<div class="container">
  <div class="page-header">
    <h2>项目成员</h2>
  </div>
 {% for pro in project_member %}
  <div class="row">
    <div class="col-md-4">{{pro['username']}}</div>
    <div class="col-md-8">
        <form action="" method="POST" class="no-style">
          <button type="submit" class="btn btn-default">
          <input type="hidden" name="delete" value={{pro['username']}}>delete
          </button>
          <button class="btn btn-default" type="submit">
          <input type="hidden" name="new_owner" value={{pro['username']}}>admin
          </button>
        </form>
    </div>
  </div>
 {% endfor %}
  <div>
        <button type="button" class="btn btn-lg btn-primary btn-myModal" data-toggle="modal">修改项目配置</button>
        <div id="myModal" class="modal fade">
            <div class="modal-dialog" style="width: 20%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">修改项目配置</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <form method="post">
                                <div class="form-group">
                                    <label class="control-label" for="illustration">说明</label>
                                    <input type="text" class="form-control" name="illustration" id="illustration" placeholder="请输入项目说明">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="git_address">git仓库地址</label>
                                    <input type="text" class="form-control" name="git_address" id="git_address" placeholder="请输入git仓库地址">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="token">read-only token</label>
                                    <input type="text" class="form-control" name="token" id="token" placeholder="public仓库无需填写">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="new_member">new member</label>
                                    <input type="text" class="form-control" name="new_member" id="new_member" placeholder="添加新成员名">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary form-control">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>  
<script>
    $(function () {
        $(".btn-myModal").click(function () {
            $("#myModal").modal({
                keyboard:true,
//                remote:"../Alerts.html"
            })
        })
        $("#myModal").on("hidden.bs.modal",function () {
//            alert('test');
        })
    })
</script>

</body>
</html>    
